<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Zbigniew Malcherczyk">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ferror/grave@gh-pages/3.3/grave.min.css">
    <link rel="icon" sizes="32x32" href="https://assets.malcherczyk.com/favicon/favicon-32x32.ico">
    <link rel="icon" sizes="16x16" href="https://assets.malcherczyk.com/favicon/favicon-16x16.ico">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>
